body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 70px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.hero {
  background-image: URL("./images/the-flatiron-building.png");
  font-weight: bold;
  color: white;
}
.btn-nav {
  font-size: 18px;
  color: white;
}
.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
